$standart_margin: 10px;
$anchor-hover-color: rgba(0, 0, 0, 0.3);

h2, img, table {
  margin: $standart_margin;
}

table {
  text-align: center;
}

%headers-base {
  font-style: italic;
}

.headers {
  @extend %headers-base;
  text-align: center;
}

.subheaders {
  @extend %headers-base;
}

#author {
  margin: $standart_margin;
}

ul {
  li {
    list-style: none inside;
  }
}

.thumb {
  max-width: 95%;
}

.recipe-link {
  color: black;
}

.recipe-link:hover {
  text-decoration: none;
  color: $anchor-hover-color;
}

@media(max-width: 480px) {
  h2.headers {
    font-size: 1.5em;
  }
}